h1, p {
  font-family: Lato;
}
div>div{
  border: 1px solid blue;
  margin:10px ;
}
.container{
  text-align: center;
  height: 100px;
 
}
.container2{
  display: flex;
  justify-content: center;
  height: 100px;
}
.container3{
 padding:50px 0;
}
.container4{
  height: 200px;
  line-height: 200px;
}
.container4 > p ,.container6>p {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  }
.container5{
  display: flex;
  height: 100px;
  align-items: center;
}
.container6{
  width: 50%;
  margin: auto;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.container7{
text-align: center;
padding: 50px 0;
position: absolute;
top: 50%;
left: 50%;
background-color:lightblue ;
transform: translate(-50%, -50%);;
}
.parent{
  position: relative;
  height: 200px;
  width:200px;
}
.child{
  position: absolute;
  width:150px;
  height: 150px;
  top:50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rectangle{
  position: relative;
  width:200px;
  height: 200px;
  border-radius: 4px;
  border:1px solid rgb(160, 159, 159);
  background-color: rgb(160, 159, 159);
  top: 50%;
  left:50%;
}
.circle{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left:0;
  border-radius: 50%;
  background-color: burlywood;
  border:1px solid burlywood;
}
